body#song
{
    font-family:Verdana,sans-serif;
}

body#help h1
{
    font-size: 1.05em;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}

body#help h2
{
    font-size: 0.9em;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}

#intro h1
{
  font-size: 1.4em;
}

.nightmode {
  color: white;
  background-color: black;
}



.label-info:hover {
    background-color: #2D6987;
}
.label:hover {
    color: white;
    text-decoration: none;
}
.label-info {
    background-color: #3A87AD;
}
.label {
    padding: 2px 4px 3px;
    font-size: 11.049999999999999px;
    font-weight: bold;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}